doctype

html
  head
    title Ez Book For fcc
    include lib.jade
    
  body
      div(class="container-fluid")
        include header.jade
      div(class="pin-wall")
        each p in books
          div(class="pin")
            image(src="#{p.url}" class="pin-pic" onError="this.onerror=null;this.src='pic/noImage.jpg'")
            div(class="pin-title") #{p.title}
            a(href="#{'/book?id='+p.id}")
              div(data-toggle="tool-tip" title="#{'@'+p.username}")
                image(class="pin-icon" src="#{p.iconURL}")
            if(user&&(user.id!=p.id))
                if(!p.requested)
                  a(href="#{'/request?id='+p.id+'&bookid='+p.bookid+'&src=index'+'&title='+p.title}")
                    div(class="pin-remove btn btn-primary" data-toggle="tool-tip" title="Send a request for this book")
                      span(class="glyphicon glyphicon-book")
                else
                  div(class="pin-remove btn btn-success" data-toggle="tool-tip" title="Request sent. Waiting for response")
                    span(class="glyphicon glyphicon-time")
          
script(src="js/init.js")